<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>TestNg.UltimateQATest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SignUpPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>UltimateHomepage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>FillOutForms</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BigPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Interaction</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>LearntoAutomate</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>FakePricingPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>FakeLandingPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>LoginAutomation</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
