<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="cbb9b1">  <td>20/03/06 15:13:36</td>   <td>0</td> <td title="&gt;&gt;UltimateQATest.setUp()[pri:0, instance:TestNg.UltimateQATest@143640d5]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@572593338</td>   <td></td> </tr>
<tr bgcolor="cbb9b1">  <td>20/03/06 15:13:36</td>   <td>255</td> <td>&nbsp;</td><td title="&gt;&gt;UltimateQATest.setUpTest()[pri:0, instance:TestNg.UltimateQATest@143640d5]">&gt;&gt;setUpTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@572593338</td>   <td></td> </tr>
<tr bgcolor="cbb9b1">  <td>20/03/06 15:13:40</td>   <td>4412</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UltimateQATest.UltimateHomepage()[pri:0, instance:TestNg.UltimateQATest@143640d5]">UltimateHomepage</td> 
  <td>main@572593338</td>   <td></td> </tr>
<tr bgcolor="cbb9b1">  <td>20/03/06 15:13:42</td>   <td>6184</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UltimateQATest.LoginAutomation()[pri:1, instance:TestNg.UltimateQATest@143640d5]">LoginAutomation</td> 
  <td>main@572593338</td>   <td></td> </tr>
<tr bgcolor="cbb9b1">  <td>20/03/06 15:13:47</td>   <td>11559</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UltimateQATest.SignUpPage()[pri:2, instance:TestNg.UltimateQATest@143640d5]">SignUpPage</td> 
  <td>main@572593338</td>   <td></td> </tr>
<tr bgcolor="cbb9b1">  <td>20/03/06 15:13:52</td>   <td>16549</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UltimateQATest.BigPage()[pri:3, instance:TestNg.UltimateQATest@143640d5]">BigPage</td> 
  <td>main@572593338</td>   <td></td> </tr>
<tr bgcolor="cbb9b1">  <td>20/03/06 15:14:10</td>   <td>34179</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UltimateQATest.FakeLandingPage()[pri:4, instance:TestNg.UltimateQATest@143640d5]">FakeLandingPage</td> 
  <td>main@572593338</td>   <td></td> </tr>
<tr bgcolor="cbb9b1">  <td>20/03/06 15:14:19</td>   <td>43219</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UltimateQATest.FakePricingPage()[pri:5, instance:TestNg.UltimateQATest@143640d5]">FakePricingPage</td> 
  <td>main@572593338</td>   <td></td> </tr>
<tr bgcolor="cbb9b1">  <td>20/03/06 15:14:29</td>   <td>53620</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UltimateQATest.FillOutForms()[pri:6, instance:TestNg.UltimateQATest@143640d5]">FillOutForms</td> 
  <td>main@572593338</td>   <td></td> </tr>
<tr bgcolor="cbb9b1">  <td>20/03/06 15:14:45</td>   <td>68993</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UltimateQATest.LearntoAutomate()[pri:7, instance:TestNg.UltimateQATest@143640d5]">LearntoAutomate</td> 
  <td>main@572593338</td>   <td></td> </tr>
<tr bgcolor="cbb9b1">  <td>20/03/06 15:15:50</td>   <td>134921</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UltimateQATest.Interaction()[pri:8, instance:TestNg.UltimateQATest@143640d5]">Interaction</td> 
  <td>main@572593338</td>   <td></td> </tr>
<tr bgcolor="cbb9b1">  <td>20/03/06 15:15:59</td>   <td>143865</td> <td>&nbsp;</td><td title="&lt;&lt;UltimateQATest.terminateTest()[pri:0, instance:TestNg.UltimateQATest@143640d5]">&lt;&lt;terminateTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@572593338</td>   <td></td> </tr>
<tr bgcolor="cbb9b1">  <td>20/03/06 15:16:00</td>   <td>144070</td> <td title="&lt;&lt;UltimateQATest.tearDown()[pri:0, instance:TestNg.UltimateQATest@143640d5]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@572593338</td>   <td></td> </tr>
</table>
